/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #777777;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	line-height: 1.5;
	word-wrap: break-word;
}

.editor-styles-wrapper > * {
	font-family: 'Arial', sans-serif;
	color: #777777;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	font-size: 27px;
	line-height: 36px;
	color: #333333;
	font-weight: normal;
}

.wp-block {
	max-width: 1140px;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	max-width: 1190px;
}
